@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">1 1239123 91823</h1>
    <p>Learn about <a href="https://www.facebook.com/TTP.120503/">Truong Tan Phuc</a>.</p>
</div>
