@model ProductVM

<form method="POST" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <div class="boder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            <hr/>
        </div>
        <div class="p-0 text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Name" class="p-0"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.CategoryId" class="p-0"> Category</label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">

            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1"> 
            <label id="priceLabel" class="p-0" asp-for="Product.Price"></label>
            <input id="priceRange" asp-for="Product.Price" class="form-range" type="range" min="0" max="1000" step="0.01" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Product.Author"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Product.ImgUrl">Image</label>
            <img class="col-2" src="@Model.Product.ImgUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            <input type="file" name="file" class="form-control" />

        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline-primary form-control" style="width:150px">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
            <div class ="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" type="submit" class="btn btn-outline-secondary form-control" style="width:150px">Go Back</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const priceRange = document.getElementById('priceRange');
            const priceLabel = document.getElementById('priceLabel');
            priceRange.addEventListener('input', function () {
                priceLabel.textContent = `Price: ${parseFloat(priceRange.value).toFixed(2)} $`;
            });
            priceLabel.textContent = `Price: ${parseFloat(priceRange.value).toFixed(2)} $`;
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}